<h1>Cifrado básico</h1>
<form method="post">
    <label>Contenido a cifrar</label>
    <input type="text" name="contenido" class="form-control" />
    <label>Resultado:</label>
    <textarea type="text" name="resultado" rows="5" class="form-control">@ViewData["TEXTOCIFRADO"]</textarea>
    <button class="btn btn-info" name="accion" value="cifrar">
        Cifrar contenido
    </button>
    <button class="btn btn-danger" name="accion" value="comparar">
        Comparar contenido
    </button>
</form>
