<h1>
    UploadFiles
</h1>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="fichero" class="form-control"/>
    <button class="btn btn-info">Upload File</button>
</form>

<h2 style="color: red">
    @ViewData["MENSAJE"]
</h2>

<img src="~/uploads/landing.jpg"/>