@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Menú utilidades</h1>
    <ul>
        <li>
            <a asp-controller="Caching"
                asp-action="MemoriaPersonalizada">
                Memoeria Cache Personalizada
            </a>
        </li>
                <li>
            <a asp-controller="Caching"
                asp-action="MemoriaDistribuida">
                Memoeria Cache Distribuida
            </a>
        </li>
    </ul>
</div>
