<h1>Log in User</h1>

<form method="post">
    <label>Nombre de usuario: </label>
    <input type="text" name="usuario" class="form-control"/>
    <button class="btn btn-info">
        Log in
    </button>
</form>
