<h1>Enviar emails</h1>

<form method="post" enctype="multipart/form-data">
    <label>Para: </label>
    <input type="text" name="para" class="form-control" />
    <label>Asunto</label>
    <input type="text" name="asunto" class="form-control" />
    <label>Mensaje</label>
    <textarea name="mensaje" class="form-control"></textarea>
    <label>Seleccione un fichero: </label>
    <input type="file" name="files" class="form-control" multiple/>
    <button class="btn btn-warning">
        Enviar Mail
    </button>
</form>

<h1 style="color:blue">@ViewData["MENSAJE"]</h1>